.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.visited{
    background-color: midnightblue;
}

.flag-container img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}